@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&family=Open+Sans:wght@300&family=Titan+One&display=swap');

@layer components {
  .clipping-right {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vw), 0% 100%);
  }
  .clipping-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 5vw));
  }
  .text-shadow {
    text-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  }
  .after-text-stroke::after {
     -webkit-text-stroke: 8px rgb(255,48,164);
  }
}

.swiper-wrapper {
  padding-bottom: 24px;
}
.swiper-pagination-progressbar {
  top: auto!important;
  bottom: 76px;
  height: 10px!important;
  background: #ffffff66!important;
}
.swiper-pagination-progressbar > span {
  background: #ff30a4!important;
}
.swiper-button-next {
  top: auto!important;
  bottom: 2px!important;
  color: #fff!important;
}
.swiper-button-prev {
  top: auto!important;
  bottom: 0!important;
  left: auto!important;
  right: 50px!important;
  color: #fff!important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: url('data:image/svg+xml; utf8, <svg direction="left" width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.227 24C9.80291 23.9981 9.38819 23.875 9.03168 23.6453C8.67518 23.4156 8.39172 23.0888 8.21469 22.7034C8.03766 22.318 7.97443 21.8901 8.03244 21.47C8.09045 21.0498 8.26729 20.6551 8.54213 20.3321L14.3664 13.4828C14.4804 13.3486 14.5429 13.1783 14.5429 13.0022C14.5429 12.8262 14.4804 12.6558 14.3664 12.5217L8.54213 5.6724C8.35059 5.45139 8.20463 5.19471 8.11264 4.9171C8.02065 4.63949 7.98444 4.34643 8.00609 4.05478C8.02774 3.76312 8.10684 3.47863 8.23882 3.21765C8.3708 2.95666 8.55306 2.72434 8.77514 2.53405C8.99721 2.34375 9.25471 2.19922 9.53283 2.10878C9.81095 2.01834 10.1042 1.98376 10.3957 2.00704C10.6873 2.03032 10.9713 2.111 11.2315 2.24443C11.4918 2.37787 11.7231 2.56143 11.9121 2.78456L20.1921 12.5219C20.3061 12.6561 20.3687 12.8264 20.3687 13.0025C20.3687 13.1785 20.3061 13.3489 20.1921 13.483L11.9121 23.2204C11.7236 23.4423 11.4931 23.6249 11.2339 23.7576C10.9747 23.8902 10.6918 23.9704 10.4015 23.9936C10.3432 23.9979 10.285 24 10.227 24Z" fill="white"></path></svg>') !important;
  font-family: none !important;
}
.swiper-button-prev::after {
  transform: rotate(180deg)
}
::-moz-selection {
  background: #ff30a4;
}
::selection {
  background: #ff30a4;
}
